.about-data .card {
    --bs-card-bg: var(--secondary-color)!important;
}

.about-data .card-title {
    color: #f39c12ab;
    font-size: 1rem !important;
    margin-bottom: 0.5rem!important;
    text-shadow:none!important;
}

.about-data .card-text {
    font-size: 0.8rem !important;
}

@media (max-width: 768px) {
    .card {
        min-height: auto !important;
    }
}

.img-award {
    max-height: 280px; /* 調整圖標大小 */
}